<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org"   >
<head>
    <meta charset="UTF-8">
    <title>测试thymeleaf</title>
</head>
<body>
<ul>
    <li >编码--密码--年龄--是否婚娶--资历</li>
    <li th:each="stu : ${stuList}">
        <span th:text="${stu.code}"></span>--
        <span th:text="${stu.pass}"></span>--
        <span th:text="${stu.age}"></span>--
        <span th:if="${stu.age>18}">可以娶媳妇</span>--
        <span th:unless="${stu.age>18}">你太小了</span>--
        <span th:switch="${stu.code}">
        <span th:case="'001'">1号员工,骨灰级</span>
        <span th:case="'002'">2号员工.元老级</span>
        <span th:case="'003'">3号员工,正式工</span>
        <span th:case="'004'">4号员工,新员工</span>
        <span th:case="'005'">5号员工,试用员工</span>
        <span th:case="*">临时工</span>
    </span>
    </li>
</ul>



<ul>
    <li>是否婚娶</li>
    <li th:each="stu : ${stuList}">
        <span th:if="${stu.age>18}">可以娶媳妇</span>
        <span th:unless="${stu.age>18}">你太小了</span>
    </li>
</ul>

<ul>
    <li th:each="stu : ${stuList}">
    <span th:switch="${stu.code}">
        <span th:case="'001'">1号员工,骨灰级</span>
        <span th:case="'002'">2号员工.元老级</span>
        <span th:case="'003'">3号员工,正式工</span>
        <span th:case="'004'">4号员工,新员工</span>
        <span th:case="'005'">5号员工,试用员工</span>
        <span th:case="*">临时工</span>
    </span>
    </li>
</ul>

<script th:inline="javascript">
    const stuList=/*[[${stuList}]]*/;
    const stu=/*[[${stuList[0]}]]*/;
    const age=/*[[${stuList[0].age}]]*/;

    console.log("集合:"+stuList);
    console.log("对象:"+stu);
    console.log("属性:"+age);

    stuList.forEach((stu) => {
        console.log("你好,"+stu.code+",你的密码是:"+stu.pass);
    })
</script>
</body>
</html>